.bottom-menu {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 10px 14px 6px 14px;
  background-color: var(--white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 -8px 16px 0 rgba(0, 0, 0, 0.08);
  @media (max-width: 1000px) {
    display: block;
  }
  &__line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}