.box-map {
  width: 100%;
  .map-contacts {
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    min-height: 489px;
    @media (max-width: 1000px) {
      min-height: 296px;
    }
  }
}