.card-catalog {
  position: relative;
  display: flex;
  width: 100%;
  height: 156px;
  @media (max-width: 1000px) {
    height: 126px;
  }
  &__link {
    padding: 16px;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--gray-20, #F1F1F1);
    transition: background-color 0.4s ease-in-out;
    picture {
      align-items: center;
      justify-content: center;
    }
    img {
      max-width: 190px;
      max-height: 112px;
    }
    @media (min-width: 1001px) {
      &:focus-visible,&:hover {
        background-color: var(--gray-10, #F6F6F6);
      }
    }
  }
  &__title {
    display: none;
  }
}