.radio-type-1 {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 8px;
  &__input {
    position: absolute;
    opacity: 0;
    &:checked + .castom {
      border-color: var(--red);
      i {
        opacity: 1;
      }
    }
  }
  .castom {
    margin: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 100%;
    border: 2px solid #E5E5E5;
    transition: border-color 0.4s ease-in-out;
    i {
      opacity: 0;
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      border-radius: 100%;
      background-color: var(--red);
      transition: opacity 0.4s ease-in-out;
    }
  }
  &__desc {
    color: var(--black, #252423);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }
}