.radio-type-color {
  cursor: pointer;
  display: flex;
  position: relative;
  &__input {
    cursor: pointer;
    position: absolute;
    inset: 0;
    opacity: 0;
    &:checked + .radio-type-color__color {
      outline: 2px solid var(--red, #F60114);
    }
  }
  &__color {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}